.margin {
    margin-top: 10px;
}

.marginright {
    margin-right: 10px;
}

.marginleft {
    margin-left: 50px;
}

.float {
    float: left;
}

img {
    border-radius: 50%;
    height:200px;
    width:200px;
}

.fontincr {
    font-size: 18px;
    font-weight: bold;
}

.critical {
    color: red;
}

.topicbtn {
     background-color: transparent;
     border-color: transparent;
     color:white;

}

.no-border {
    border: 0px;
}

.scroll {
    height: 650px !important;
    overflow: auto;
}

.scroll-list-tweets {
    height: 700px !important;
    overflow: auto;
}

a.collapse-heading, a.collapse-heading:hover, a.collapse-heading:visited, a.collapse-heading:active, a.collapse-heading:link {
    color:white;
}

.right-site{
    position: absolute;
    right: 0px;
}

.padding-down {
    padding-bottom: 15px;
}

p {
    font-weight: bold;
}

.last-entry {
    padding-bottom: 50px;
}

.higher {
    margin-top: -50px;
}

.row-padding {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #337ab7;
}