<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-table.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_stats.css') }}" />



    <body>
        <div class="jumbotron text-center">
            <h1>Thank you for your participation!!!</h1>
        </div>

        <div id="questionnaire" class="container">
            <div class="row last-entry" style="font-size: 20px;font-weight:bold">Please fill out this short questionnaire before you leave.</div>


            <form action="/questionnaire"  method="POST">
                <div class="row last-entry">
                    <p>All necessary information was available and suitable visulaized for my decisions.</p>
                     <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q1" value="1">Strongly Disagree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q1" value="2">Disagree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q1" value="3">Neutral</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q1" value="4">Agree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q1" value="5">Strongly Agree</label>
                    </div>
                </div>

                 <div class="row last-entry">
                    <p>The tool supported me well in my decision process.</p>
                     <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q2" value="1">Strongly Disagree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q2" value="2">Disagree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q2" value="3">Neutral</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q2" value="4">Agree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q2" value="5">Strongly Agree</label>
                    </div>
                </div>

                <div class="row last-entry">
                    <p>Overfall, I felt comfortable with my decisions.</p>
                     <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q3" value="1">Strongly Disagree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q3" value="2">Disagree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q3" value="3">Neutral</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q3" value="4">Agree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q3" value="5">Strongly Agree</label>
                    </div>
                </div>

                <div class="row last-entry">
                    <p>If I would work in this area, I can imagine using this tool for daily analysis of Twitter accounts.</p>
                     <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q4" value="1">Strongly Disagree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q4" value="2">Disagree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q4" value="3">Neutral</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q4" value="4">Agree</label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline"><input type="radio" name="q4" value="5">Strongly Agree</label>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-success"type="submit">Submit Questionnaire and Finish.</button>
                </div>
            </form>
        </div>

    </body>
</html>