<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-table.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/gcharts-loader.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/d3js.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/profile_stats.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_stats.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />



    <body>
        <div class="jumbotron text-center">
            <h1>Thank you! You are finished now :) </h1>
        </div>

    </body>
</html>