<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_stats.css') }}" />

    <body>
        <div class="jumbotron text-center">
            <h1>Social Manipulation Analysis Tool</h1>
        </div>

        <div class="container
">
            <div id="intro" style="font-style:italic">
                Dear participant,
                <br><br>
                I am studying computer technology at Free University of Berlin and would like to perform a study on detecting social media manipulations in Twitter.
                To take part in this study, it will need about 45 minutes of your valuable time.
                <br>
                Following this, you will be presented a short questionnaire on how you experienced the task and tool which I will introduce to you shortly.
                <br>
                Thank you for your support and lots of fun with the study task.
                <br><br>
                Alexandra Dang
            </div>
            <br><br><br><br>

            <div id="task-headline" style="font-weight:bold; font-size:20px;">
                Task Description:
            </div>
            <br><br>
            <div id="task-descr">
                Your task is to decide on given Twitter accounts whether you believe this user is a manipulative account or a legitimate user given this visualization tool.
                You can freely navigate through the tool, except for using the browsers “back” arrow.
                Once you decided, click on one of the buttons on the top right corner “Legitimate User” or “Manipulative Account”.
                Next, you will be presented another user.
                In total, you will be presented 10 users which you should make a decision for.
            </div>
            <br><br>
            <form action="/tool">
                <div class="text-center">
                    <button class="btn btn-success"type="submit">Let's begin.</button>
                </div>
            </form>

    </body>
</html>