<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}">

    <body>
        <div class="jumbotron text-center">
            <h1>Twitter Manipulation Analysis</h1>
        </div>

        <div class="container">
            <div id="intro" style="font-style:italic">
                Dear participant,
                <br><br>
                I am studying computer technology at Free University of Berlin and would like to perform a study on detecting social media manipulations in Twitter.
                To take part in this study, it will need about 45 minutes of your valuable time.
                <br>
                Following this, you will be presented a short questionnaire on how you experienced the task and tool which I will introduce to you shortly.
                <br>
                Thank you for your support and lots of fun with the study task.
                <br><br>
                Alexandra Dang
            </div>

            <br><br><br><br>
            <div id="task-headline" style="font-weight:bold; font-size=20px;">
                Task Description:
            </div>
            <br><br>
            <div id="task-descr">
                Your task is to decide on given Twitter accounts whether you believe this user is a manipulative account or a legitimate user given Twitters User Interface.
                You will be presented 10 different users successively in total this tool, where you should click on the given link to open the needed Twitter Profile for a given time slot.
                You can freely navigate through Twitter. Once you decided, click on of the buttons on the “Legitimate User” or “Manipulative Account” in the Twitter Analysis Tool.
                Next, you will be presented another user and link to follow.
            </div>
            <br><br>
            <form action="/tool">
                <div class="text-center">
                    <button class="btn btn-success"type="submit">Let's begin.</button>
                </div>
            </form>
        </div>
    </body>
</html>