<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-table.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/gcharts-loader.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/d3js.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/graph.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/search.js' )}}"></script>

        <script src="{{ url_for('static', filename='js/bootstrap.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />

    </head>
    <body>

        <div class="jumbotron text-center">
          <h1>Social Bot Analysis Tool</h1>
        </div>

        <form action="/upload" enctype="multipart/form-data" method="post">
            Upload Tweet Data:
            <input type="file" name="tweetfile">
            Upload User Data:
            <input type="file" name="userfile">
            <button type="submit">Submit File.</button>
        </form>


    </body>
</html>






