<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-table.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/gcharts-loader.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/d3js.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/graph.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/search.js' )}}"></script>

        <script src="{{ url_for('static', filename='js/bootstrap.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />

    </head>
    <body>

        <div class="jumbotron text-center">
          <h1>Social Bot Analysis Tool</h1>
        </div>

        <iframe src="http://localhost:5601/app/kibana#/visualize/edit/Parteiverteilung?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3A'2017-04-22T06%3A11%3A48.049Z'%2Cmode%3Aabsolute%2Cto%3A'2017-09-13T22%3A39%3A25.126Z'))"
                height="600" width="800"></iframe>
    </body>
</html>






