<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-table.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/gcharts-loader.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/d3js.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/graph.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/search.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/profile_stats.js' )}}"></script>

        <script src="{{ url_for('static', filename='js/bootstrap.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_stats.css') }}" />

    </head>
    <body>

        <div class="jumbotron text-center">
          <h1>Social Bot Analysis Tool</h1>
        </div>


        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">User Search</a></li>
                            <li><a href="#tab2default" data-toggle="tab">Hashtag Search</a></li>
                            <li><a href="#tab3default" data-toggle="tab">Mention Search</a></li>
                            <li><a href="#tab4default" data-toggle="tab">Graph Structure</a></li>
                            <li><a href="#tab5default" data-toggle="tab">Profile Status</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <div class="col-lg-2">
                                <button id="show_hide_list" type="button" class="btn btn-info">Show/Hide</button>
                                <div id="filter">
                                    <div class="row">
                                        <input id="user_input" type="text"  placeholder="User Search" aria-describedby="basic-addon1">
                                        <button id="user_search" type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div id="user_id_list" class="scroll"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <a  class="collapse-heading"data-toggle="collapse" href="#collapse1">User History Table</a>
                                  </div>
                                  <div id="collapse1" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <div id="user_history_div" class="row scroll"></div>
                                      </div>
                                  </div>
                                </div>
                                <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <a class="collapse-heading" data-toggle="collapse" href="#collapse2">User Timeline</a>
                                   </div>
                                   <div id="collapse2" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <div id="timeline_div"></div>
                                      </div>
                                   </div>
                                </div>
                                <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <a class="collapse-heading" data-toggle="collapse" href="#collapse3">Mention Graph</a>
                                  </div>
                                  <div id="collapse3" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <div id="mention_graph_div"></div>
                                      </div>
                                  </div>
                                </div>
                                <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <a class="collapse-heading" data-toggle="collapse" href="#collapse4">Statistics</a>
                                  </div>
                                  <div id="collapse4" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <div id="user_statistics"></div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab2default">
                            <div class="col-lg-2">
                                <div class="row">
                                    <input id="hashtag_input" type="text"  placeholder="Hashtag Search" aria-describedby="basic-addon1">
                                    <button id="hashtag_search" type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <a  class="collapse-heading"data-toggle="collapse" href="#collapse21">Hashtag History Table</a>
                                  </div>
                                  <div id="collapse21" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <div id="hashtag_history_div" class="col scroll"></div>
                                      </div>
                                  </div>
                                </div>
                                <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <a class="collapse-heading" data-toggle="collapse" href="#collapse22">Hashtag Timeline</a>
                                   </div>
                                   <div id="collapse22" class="panel-collapse collapse">
                                      <div class="panel-body">
                                           <div id="hashtag_timeline_div"></div>
                                      </div>
                                   </div>
                                </div>
                                <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <a class="collapse-heading" data-toggle="collapse23" href="#collapse3">Mention Graph</a>
                                  </div>
                                  <div id="collapse23" class="panel-collapse collapse">
                                      <div class="panel-body">
                                           <div id="hashtag_graph_div"></div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab3default">
                            <div class="col-lg-2">
                                <div class="row">
                                    <input id="mention_input" type="text"  placeholder="Mention Search" aria-describedby="basic-addon1">
                                    <button id="mention_search" type="button" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="panel panel-primary">
                                  <div class="panel-heading">
                                      <a  class="collapse-heading"data-toggle="collapse" href="#collapse31">Mention History Table</a>
                                  </div>
                                  <div id="collapse31" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <div id="mention_history_div" class="col scroll"></div>
                                      </div>
                                  </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                      <a class="collapse-heading" data-toggle="collapse" href="#collapse32">Mention Graph</a>
                                    </div>
                                    <div id="collapse32" class="panel-collapse collapse">
                                      <div class="panel-body">
                                          <div id="mention_timeline_div"></div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab4default">
                            <div class="row">
                                <input id="user_input_tab4" type="text"  placeholder="User Search" aria-describedby="basic-addon1">
                                <button id="user_search_tab4" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="row">
                                <div id="graph"></div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab5default">
                            <div class="row">
                                <input id="user_input_tab5" type="text"  placeholder="User Search" aria-describedby="basic-addon1">
                                <button id="user_search_tab5" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <a class="collapse-heading"data-toggle="collapse" href="#collapse1_tab5">Profile Info</a>
                                    </div>
                                    <div id="collapse1_tab5" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body">
                                            <div id="profile_info" class="row scroll">
                                                <div class="col-lg-2 marginleft">
                                                    <div id="profile_pic" class="row">
                                                    </div>
                                                    <div id="name" class="row margin fontincr">
                                                    </div>
                                                    <div id="screen_name" class="row margin">
                                                    </div>
                                                    <div id="description" class="row margin">
                                                    </div>
                                                    <div id="url" class="row margin">
                                                    </div>
                                                    <div class="row margin">
                                                        <div class="float marginright">Account created at:</div>
                                                        <div id="created_at"></div>
                                                    </div>
                                                    <div class="row margin">
                                                        <div class="float marginright">Followers:</div>
                                                        <div id="follower"></div>
                                                    </div>
                                                    <div class="row margin">
                                                        <div class="float marginright">Following:</div>
                                                        <div id="following"></div>
                                                    </div>
                                                </div>
                                                <div id="recent_tweets" class="col-lg-6 marginleft">
                                                    <ul id="profile_tweets" class="list-group">
                                                    </ul>
                                                </div>
                                                <div id="botometer" class="col-lg-2 marginleft">
                                                    <div class="row fontincr">
                                                        Bot Score obtained by Botometer
                                                    </div>
                                                    <div class="row">
                                                        <ul class="list_group">
                                                            <li class="list-group-item">
                                                                <div class="marginright">Friend:</div><div id="friendscore"></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="marginright">Network:</div><div id="networkscore"></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="marginright">User:</div><div id="userscore"></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="marginright">Temporal:</div><div id="temporalscore"></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="marginright">Content:</div><div id="contentscore"></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="marginright"><b>Overall Bot Score:</b></div><div id="botscore"></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <a class="collapse-heading" data-toggle="collapse" href="#collapse2_tab5">User Timeline</a>
                                    </div>
                                    <div id="collapse2_tab5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div id="timeline_div_tab5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </nav>
    </body>
</html>






