<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-table.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/gcharts-loader.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/d3js.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/profile_stats.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_stats.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />

        <script type="text/javascript">
            var datapoints = {{ datapoints }};
            var targets = {{ targets }};
            var target_names = {{ target_names | safe }};
            var sentences_per_user = {{ docs_per_user | safe }};
            var top_10_words_topic = {{ top_10_words_topic | safe }};
            var userid = {{ userid | safe }};
        </script>
  <body>

        <div class="jumbotron text-center">
          <h1>Manipulation Analysis</h1>
        </div>

        <div class="container-fluid">
            <div class="row padding-down">
                    <div id="screenname_input" class="input-group" style="width:50%; float:left;">
                        <input id="user_input_tab5" class="form-control" type="text" placeholder="Please enter a screenname." value="dervonBerg">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" id="user_search_tab5" data-toggle="tooltip" title="Load user data.">Check Screenname or User ID</button>
                        </span>
                    </div>
                <div class="right-site">
                    <form action="/decision" method="POST">
                        <button id="user" type="submit" class="btn btn-success" data-toggle="tooltip" title="I believe this account is a real user." value="" name="legitimate">
                             <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span> Legitimate User
                        </button>
                        <button id="bot" type="submit" class="btn btn-danger" data-toggle="tooltip" title="I believe this account is a manipulative/ a bot." value="" name="bot">
                             <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Manipulative/Automated Account
                        </button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a class="collapse-heading"data-toggle="collapse" href="#collapse1_tab5">Profile Info</a>
                    </div>
                    <div id="collapse1_tab5" class="panel-collapse collapse" aria-expanded="true">
                        <div class="panel-body">
                            <p>
                                The information visualized here correspond to the publicly available information of the selected user on Twitter.
                            </p>
                            <p>
                                On the left side, you see a profile picture (if accessible) and several information concerning the user account profile.
                            </p>
                            <p>
                                In the middle column you see a list of tweets posted by this user ordered in descending order, starting with the earliest date we began our collection with.
                                It is possible that the amount of tweets or the tweet content differs slightly from the users official Twitter page which is due to API collection restrictions or user edited content which we did not track.

                            </p>
                            <p class="last-entry">
                                On the right side, you can click on the bird image to obtain a bot score provided by <a href="https://botometer.iuni.iu.edu/#!/">Botometer</a>. The service checks the activity of a Twitter account and gives a score based on how likely the account is to be a bot.</p>
                            <p style="color:red">Please keep in mind, that this score does not need to be true!</p>

                            <div id="profile_info" class="row">
                                <div class="col-lg-2 marginleft">
                                    <div id="profile_pic" class="row">
                                    </div>
                                    <div id="name" class="row margin fontincr">
                                    </div>
                                    <div id="screen_name" class="row margin">
                                    </div>
                                    <div id="description" class="row margin">
                                    </div>
                                    <div id="url" class="row margin">
                                    </div>
                                    <div class="row margin">
                                        <div class="float marginright">Account created at:</div>
                                        <div id="created_at"></div>
                                    </div>
                                    <div class="row margin">
                                        <div class="float marginright">Followers:</div>
                                        <div id="follower"></div>
                                    </div>
                                    <div class="row margin">
                                        <div class="float marginright">Following:</div>
                                        <div id="following"></div>
                                    </div>

                                </div>
                                <div id="recent_tweets" class="col-lg-6 marginleft scroll">
                                    <ul id="profile_tweets" class="list-group">
                                    </ul>
                                </div>
                                <div id="botometer_score" class="col-lg-2 marginleft">
                                    <row>
                                        If you are interested in Botometer's score for this user, click the image below.
                                    </row>
                                    <row>
                                        <img id="botometer_img" src="https://pbs.twimg.com/profile_images/867087256271695873/c5yArtye_400x400.jpg" style="cursor: pointer;">
                                    </row>
                                </div>


                                <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Botometer Score</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div id="botometer">
                                                    <ul id="botometer_scores" class="list_group">
                                                        <li class="list-group-item no-border">
                                                            <div>Friend:</div><div id="friendscore"></div>
                                                        </li>
                                                        <li class="list-group-item no-border">
                                                            <div>Network:</div><div id="networkscore"></div>
                                                        </li>
                                                        <li class="list-group-item no-border">
                                                            <div>User:</div><div id="userscore"></div>
                                                        </li>
                                                        <li class="list-group-item no-border">
                                                            <div>Temporal:</div><div id="temporalscore"></div>
                                                        </li>
                                                        <li class="list-group-item no-border">
                                                            <div>Content:</div><div id="contentscore"></div>
                                                        </li>
                                                        <li class="list-group-item no-border">
                                                            <div><b>Overall Bot Score:</b></div><div id="botscore"></div>
                                                        </li>
                                                        <li id="suspended_user" class="list-group-item no-border">
                                                            <div><b>This user has been suspended by Twitter.</b><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></div>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                 <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a class="collapse-heading" data-toggle="collapse" href="#collapse15_tab5">Precomputed Statistics</a>
                    </div>
                    <div id="collapse15_tab5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p class="last-entry">
                              Here we show some computed statistics concerning the user account profile.
                            </p>
                            <div class="row row-padding ">
                                <div class="col-lg-5">Mean Minutes between Tweets:</div>
                                <div class="col-lg-5" id="mean_mins_btw_tweets"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Minimum Minutes between Tweets:</div>
                                <div class="col-lg-5" id="min_mins_btw_tweets"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Maximum Minutes between Tweets:</div>
                                <div class="col-lg-5" id="max_mins_btw_tweets"></div>
                                <div class="w-100"></div>
                            </div>
                            <div class="row row-padding ">
                                <div class="col-lg-5">Mean Number of Words per Tweet:</div>
                                <div class="col-lg-5" id="mean_nr_words"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Minimum Number of Words per Tweet:</div>
                                <div class="col-lg-5" id="min_nr_words"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Maximum Number of Words per Tweet:</div>
                                <div class="col-lg-5" id="max_nr_words"></div>
                                <div class="w-100"></div>
                            </div>

                            <div class="row row-padding ">
                                <div class="col-lg-5">Top 20 Hashtags Used:</div>
                                <div class="col-lg-5" id="hashtags"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Amount of Unique Hashtags Used:</div>
                                <div class="col-lg-5" id="unique_hashtags"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Highest Amount of Similar Hashtags Used:</div>
                                <div class="col-lg-5" id="max_amount_similar_hashtags"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Lowest Amount of Similar Hashtags Used:</div>
                                <div class="col-lg-5" id="min_amount_similar_hashtags"></div>
                                <div class="w-100"></div>
                            </div>

                             <div class="row row-padding ">
                                <div class="col-lg-5">Top 20 Mentions Used:</div>
                                <div class="col-lg-5" id="mentions"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Amount of Unique Mentions Used:</div>
                                <div class="col-lg-5" id="unique_mentions"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Highest Amount of Similar Mentions Used:</div>
                                <div class="col-lg-5" id="max_amount_similar_mentions"></div>
                                <div class="w-100"></div>

                                <div class="col-lg-5">Lowest Amount of Similar Mentione Used:</div>
                                <div class="col-lg-5" id="min_amount_similar_mentions"></div>
                                <div class="w-100"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a class="collapse-heading" data-toggle="collapse" href="#collapse2_tab5">User Timeline</a>
                    </div>
                    <div id="collapse2_tab5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                              A user timeline diagram visualizes a users tweet activity over time. Each of the given datapoints corresponds to one tweet. The x-axis provides timely information about the date range, while the y-axis simply distinguishes individual tweet identifiers
                                (the first tweet visualized has tweet identifier set to 1, the second has tweet identifier set to 2, and so on).
                                By hovering over single datapoints you are provided the information when exactly that tweet was published with time and date.
                            </p>
                            <p style="color:red;" class="last-entry">
                                Please keep in mind that due to API limitations, it can appear that there are gaps in the timeline.
                            </p>
                            <div id="timeline_div_tab5"></div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a class="collapse-heading"data-toggle="collapse" href="#collapse3_tab5">Topic Modelling Charts</a>
                    </div>
                    <div id="collapse3_tab5" class="panel-collapse collapse" aria-expanded="true">
                        <div class="panel-body">
                            <p class="last-entry">
                                The below chart visualizes the overall topic distribution in the corpus of tweets. One datapoint corresponds to one user, where the big highlighted star datapoint represents the user you searched for. The color of a datapoint stands for one topic which you can find out
                                by hovering over that datapoint. Same colored datapoints belong to the same topic. If you need more information about a topic, you can scroll down to "Topic Details".
                            </p>

                            <div id="chart_div" class="higher">
                            </div>

                            <p class="last-entry">
                                The next chart shows the bot/user distribution in the corpus. The corresponding label comes from Botometer where a "bot" account exhibits a score of > 90%, and from DeBOT service where "bots" are highly correlated user profiles.
                                The green color stands for a legitimate account, while the red color stands for a bot account.
                                The highlighted star datapoint represents the user you searched for.
                            </p>
                            <div id="bot_chart" class="higher">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a class="collapse-heading"data-toggle="collapse" href="#collapse4_tab5">Topic Details</a>
                    </div>
                    <div id="collapse4_tab5" class="panel-collapse collapse" aria-expanded="true">
                        <div class="panel-body">
                            <p class="last-entry">
                                In this panel you find detailed information about the topics. Each of the boxes consists of the top 10 words present in a particular topic. If you click on one of the topic headers, for instance "Topic 1", tweets that correspond to this topic
                                are loaded underneath.
                            </p>
                            <div id="topic_top_10_words"  class="row"  style="padding-left:7%;">
                                <div id="col0" class="col-lg-2">

                                </div>
                                <div id="col1" class="col-lg-2">

                                </div>
                                <div id="col2" class="col-lg-2">

                                </div>
                                <div id="col3" class="col-lg-2">

                                </div>
                                <div id="col4" class="col-lg-2">

                                </div>
                            </div>

                            <p>On the left side you can see the user screen names (corresponds to a document in the corpus) that contribute the most to the selected topic. By clicking on the button, you see a list of tweets by that user.
                                            With this you can compare the tweets that lie in the same topic of the user you searched for.</p>
                            <p id="selected_topic" class="fontincr"></p>
                            <div id="tweets_per_topic" class="row">
                                <div class="container-fluid">
                                    <div class="col-lg-3">
                                        <ul id="topic_tweets" class="list-group" style="width:300px;">
                                        </ul>
                                    </div>
                                    <div class="col-lg-8 scroll-list-tweets">
                                        <div id="show_tweets"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>