<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Topics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-table.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/gcharts-loader.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/d3js.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/topics_n_gram.js' )}}"></script>

        <script src="{{ url_for('static', filename='js/bootstrap.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css' )}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />

    </head>
    <body>

        <div class="jumbotron text-center">
          <h1>Social Bot Analysis Tool</h1>
        </div>
        <div class="col-lg-5">
            <div id="topic_ngram_diagram"></div>
        </div>
        <div class="col-lg-5">
            <div id="topic_ngram_texts"></div>
        </div>
    </body>
</html>