<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{{ url_for('static', filename='js/jquery.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/jquery-table.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-table.js' )}}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.css' )}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}">

    <script>
        link = {{ user_link | safe }}
        userid = {{ userid }}
        $(function(){
            $("#user_link").attr("href",link).text(link);
            $("#bot").val(userid);
            $("#user").val(userid);
        });



    </script>
    <body>
        <div class="jumbotron text-center">
            <h1>Twitter Bot Analysis</h1>
        </div>

        <div class="container">
            Please click on the below link to redirect to Twitter and inspect the user account. Once you are finished and ready to make a decision, come back to this site and
            click on the corresponding link.

            <p style="color:red">If necessary, you can filter for German language in Twitter in the left panel.</p>
            <div class="text-center">
                <a id="user_link" target="_blank"></a>
                <br><br>
                <form action="/decision" method="POST">
                    <button id="user" type="submit" class="btn btn-success" data-toggle="tooltip" title="I believe this account is a real user." value="" name="legitimate">
                         <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span> Legitimate User
                    </button>
                    <button id="bot" type="submit" class="btn btn-danger" data-toggle="tooltip" title="I believe this account is a bot." value="" name="bot">
                         <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Manipulative/Automated Account
                    </button>
                </form>
           </div>
        </div>
    </body>
</html>